@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Mulish', sans-serif;
}
main{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}
section{
    margin-top: 100px;
    /* padding: 0 10px; */
}
.text-white{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 24px 0;
}
.text-light-grey{
    color: #131318b3;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 24px 0;
}
.section-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.primary-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}
/* banner section starts here  */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group_13.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1170px;
    height: 500px;
    border-radius: 16px;
    display: grid;
    place-items: center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: auto;
}
.banner-title{
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
}
.banner-content .message{
    max-width: 676px;
}
.banner-form{
    margin-top: 48px
}
.banner-form form{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;    
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 768px;
    height: 82px;
}
.banner-form form *{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 16px 0 16px 16px;
}
.banner-form form .primary-btn{
    background: #FF5400;
}


/* popular section starts here  */
.popular{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.popular ul{
    margin: 24px 0 24px 35px;
}
.popular ul li{
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.popular-img img{
    border-radius: 16px;
}


/* Choose destination sections starts  */

.destination-content{
    display: grid;
    place-items: center;
}
.destination-content .text-light-grey{
    width: 100%;
    max-width: 643px;
}
.destination-imgs{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
    width: 100%;
    max-width: 1170px;
    gap: 24px;
}
.destination-imgs h3{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
#maldives{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Rectangle_5.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 673px;
    height: 300px;
    grid-column: 1/span 6;
    border-radius: 16px;
    background-repeat: no-repeat;
    object-fit: contain;
}
#indonesia{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle_8_1.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:673px;
    height: 300px;
    grid-column: 7/span 6;
    border-radius: 16px;
    background-repeat: no-repeat;
}
#srilanka{   
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle_6.png); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:374px;
    height: 286px;
    grid-column: 1/span 4;
    border-radius: 16px;
    background-repeat: no-repeat;
}
#north_america{    
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle_7.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:474px;
    height: 286px;
    grid-column: 5/span 5;
    border-radius: 16px;
    background-repeat: no-repeat;
}
#kashmir{   
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle_9.png); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:274px;
    height: 286px;
    grid-column: 10/span 3;
    border-radius: 16px;
    background-repeat: no-repeat;
    object-fit: cover;
}
#bangladesh{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle_11.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:473px;
    height: 300px;
    grid-column: 1/span 5;
    border-radius: 16px;
    background-repeat: no-repeat;
    object-fit: cover;
}
#bandarban{    
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle_10.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:673px;
    height: 300px;
    grid-column: 6/span 7;
    border-radius: 16px;
    background-repeat: no-repeat;
    object-fit: cover;
}
/* Why choose us section starts  */
.why-choose{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    align-content: center;
}
.choose-content{
    text-align: center;
    width: 100%;
    max-width: 643px;
}
.choose-cards{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}
.choose-cards .card{
    padding: 32px;
    width: 100%;
    max-width: 573px;
    height: 284px;
    border-radius: 16px;
}
.choose-cards .card img{
    width: 64px;
    height: 64px;
}
.choose-cards .card-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
}
.choose-cards .card-msg{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
#hotel{
    grid-column: 1/ span 6;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
#map{
    grid-column: 7/span 6;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
#price-tag{
    grid-column: 4/ span 6;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* newsletter section starts here  */

.newsletter{
    /* border: 2px solid black; */
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}
.newsletter-content{
    width: 100%;
    max-width: 474px;
    height: 422px;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.horizontal-line{
    width: 100%;
    max-width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 0 auto;
}
.newletter-form{
    margin-top: 24px;
}
.newletter-form form input{
    width: 100%;
    max-width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #1313180d;
    border: none;
    outline: none;
    color: #1313184d;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 0 16px 20px;
    margin-top: 16px;
}
.newletter-form form input[type='button']{
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 0px;
}
.newsletter-img{
    background-image: url('../Images/Rectangle_8.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    max-width: 672px;
    height: 422px;
    border-radius: 16px;
    position: relative;
}
.newsletter-img img{
    width: 100%;
    max-width: 672px;
}
.discount{
    position: absolute;
    bottom: 15%;
    right: 5%;
    width: 100%;
    max-width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #fff;
    display: grid;
    place-items: center;
}
.discount h3{
    font-size: 24px;
    font-weight: 400;
}
.discount h2{
    font-size: 32px;
    font-weight: 800;
}


