@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Mulish', sans-serif;
}
main{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
section{
    margin-top: 100px;
}
.text-light-grey{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 24px 0;
}
.primary-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
/* banner section starts here  */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group_13.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1170px;
    height: 500px;
    border-radius: 16px;
    display: grid;
    place-items: center;
}
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: auto;
}
.banner-title{
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
}
.banner-form{
    margin-top: 48px
}
.banner-form form{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;    
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 768px;
    height: 82px;
}
.banner-form form *{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 16px 0 16px 16px;
}
.banner-form form .primary-btn{
    background: #FF5400;
}

