@media screen and (max-width: 600px) {
    /* Shared styles  */
    .text-white, .text-light-grey{
        font-size: .875rem;
        line-height: 1.3rem;
        margin: 16px 0;
    }
    .section-title{
        font-size: 1.25rem;
    }
    main{
        width: 100%;
        max-width: 600px;
    }
    section{
        margin-top: 24px;
    }

    /* banner sections  */

    .banner{
        width: 100%;
        max-width: 600px;
        height: 483px;
        background-position: center;
        margin: 0 auto;
        border-radius: 16px;
        position: relative;
    }
    .banner-content{
        position: absolute;
        top: 32px;
        left: 16px;
    }
    .banner-title{
        font-size: 1.375rem;
    }
    .banner-form{
        margin-top: 5px;
    }
    .banner-form form{
        width: 288px;
        height: 288px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-radius: 8px;
        height: 280px;
        align-items: center;
    }
    .banner-form form *{
        width: 255px;
        height: 52px;
    }

    /* popular section  */


    .popular{
        flex-direction: column;
        gap: 24px;
    }
    .popular .popular-img{
        border-radius: 16px;
        width: 335px;
        height: 342px;
    }
    .popular-img img{
        width: 100%;
        max-width: 600px;
        object-fit: cover;
    }
    .popular ul{
        margin: 16px 0 16px 35px;
    }
    .popular ul li{
        color: #131318b3;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
 
    /* Choose destination sections starts  */
    #maldives, #indonesia, #srilanka, #north_america, #kashmir, #bangladesh, #bandarban{
        grid-column: 1/ span 12;
        width: 100%;
        max-width: 600px;
        height: 176px;
        background-position: center;
        background-size: cover;
    }
    /* why choose us section  */
    .choose-cards .card img{
        width: 48px;
        height: 48px;
    }
    .choose-cards .card-title{
        font-size: 20px;
        font-weight: 800;
        margin: 16px 0;
    }.choose-cards .card-msg{
        font-size: 14px;
        line-height: 24px;
    }
    #hotel{
        grid-column: 1/ span 12;
    }
    #map{
        grid-column: 1/span 12;
    }
    #price-tag{
        grid-column: 1/ span 12;
    }

    /* newsletter section starts  */
    .newsletter{
        flex-direction: column;
        gap: 24px;
    }
    .newsletter-content{
        padding: 24px;
        /* height: 353px; */
    }
    .horizontal-line{
        width: 100%;
        max-width: 288px;
    }
    .newsletter-content, .newsletter-img img{
        width: 100%;
        max-width: 600px;;
    }
}