@media screen and (max-width: 600px) {
    /* Shared styles  */
    .text-white, .text-light-grey{
        font-size: .875rem;
        line-height: 1.3rem;
        margin: 16px 0;
    }
    .section-title{
        font-size: 1.25rem;
    }
    main{
        width: 100%;
        max-width: 600px;
    }
    section{
        margin-top: 24px;
    }

    /* nav section starts here  */
    nav{
        display: none;
    }
    .hambarger-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        margin: 20px auto;
    }
    .hambarger-menu img{
        width: 28px;
        height: 34px;
    }

    /* banner sections  */

    .banner{
        width: 100%;
        max-width: 600px;
        height: 483px;
        background-position: center;
        margin: 0 auto;
        border-radius: 16px;
        position: relative;
    }
    .banner-content{
        position: absolute;
        top: 32px;
        left: 16px;
    }
    .banner-title{
        font-size: 1.375rem;
    }
    .banner-form{
        margin-top: 5px;
    }
    .banner-form form{
        width: 288px;
        height: 288px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        border-radius: 8px;
        height: 280px;
        align-items: center;
    }
    .banner-form form input, select{
        width: 255px;
        height: 52px;
    }
    .banner-form .primary-btn{
        width: 255px;
    }



    /* popular section  */


    .popular{
        flex-direction: column;
        gap: 24px;
    }
    .popular .popular-img{
        border-radius: 16px;
        width: 100%;
        max-width: 600px;
        height: 342px;
    }
    .popular-img img{
        width: 100%;
        max-width: 600px;
        height: 342px;
        object-fit: cover;
    }
    .popular ul{
        margin: 16px 0 16px 35px;
    }
    .popular ul li{
        color: #131318b3;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
 
    /* Choose destination sections starts  */
    .destination-imgs h3{
        font-size: 20px;
    }
    #maldives, #indonesia, #srilanka, #north_america, #kashmir, #bangladesh, #bandarban{
        grid-column: 1/ span 12;
        width: 100%;
        max-width: 600px;
        height: 176px;
        background-position: center;
        background-size: cover;
    }
    /* why choose us section  */
    .choose-cards .card img{
        width: 48px;
        height: 48px;
    }
    .choose-cards .card-title{
        font-size: 20px;
        font-weight: 800;
        margin: 16px 0;
    }.choose-cards .card-msg{
        font-size: 14px;
        line-height: 24px;
    }
    #hotel{
        grid-column: 1/ span 12;
    }
    #map{
        grid-column: 1/span 12;
    }
    #price-tag{
        grid-column: 1/ span 12;
    }

    /* newsletter section starts  */
    .newsletter{
        flex-direction: column;
        gap: 24px;
    }
    .newsletter-content{
        padding: 24px;
        height: 360px;
    }
    .horizontal-line{
        width: 100%;
        max-width: 288px;
    }
    .newletter-form{
        margin-top: 16px;
    }.newletter-form form input{
        width: 100%;
        max-width: 600px;
    }
    .newsletter-content, .newsletter-img img{
        width: 100%;
        max-width: 600px;;
    }
    .newsletter-img{
        width: 100%;
        max-width: 600px;
        height: 300px;
    }
    .newsletter-img img{
        width: 100%;
        max-width: 600px;
    }
    .discount{
        width: 100%;
        max-width: 215px;
        height: 80px;
    }
    .discount h3{
        font-size: 1rem;
    }
    .discount h2{
        font-size: 21px;
    }

    /* footer section */
    footer{
        height: 310px;
    }
    .footer-msg{
        width: 100%;
        max-width: 290px;
    }
    footer .horizontal-line{
        width: 100%;
        max-width: 335px;
    }
}